@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --primary: rgba(255, 59, 92, 1);
  --white: #ffffff;
  --btn-outline-hover: rgba(255, 59, 92, 0.08);
  --shadow: 0px 1px 1px rgba(255, 255, 255, 0.12);

  // Default Layout
  --default-layout-header-height: 60px;
  --sidebar-width: 240px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(18, 18, 18);
  min-height: 100vh;
}

button,
input {
  outline: none;
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(108, 103, 103, 0.349);
}

body::-webkit-scrollbar-track {
  background-color: rgba(54, 52, 52, 0.15);
}

// Custom tippy tooltip
#tippy-5,
#tippy-6 {
  pointer-events: none;
  z-index: 9999;
  visibility: visible;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(1281px, 52.8px, 0px);
}
.tippy-box {
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.1rem;
  letter-spacing: 0.03px;
  background-color: rgba(84, 84, 84, 0.92);
  color: var(--white);

  .tippy-content {
    position: relative;
    padding: 8px;
    z-index: 1;
  }

  .tippy-arrow {
    width: 16px;
    height: 16px;
    color: rgba(84, 84, 84, 0.92);
    r: #333;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(35.8px, 0px, 0px);
  }
}
