.wrapper {
  position: relative;
  padding: 1.6rem 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;
    right: 8px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.12);
  }
}

.label {
  padding: 0 8px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 0.75);
}

.account-item {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out 0s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }
}

.avatar {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.2rem;
  border-radius: 50%;
}

.info {
  height: 32px;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: -8px;

  .username {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.1rem;
    letter-spacing: 0.03px;
    margin-top: -2px;
    margin-right: 4px;
  }

  .tick {
    color: rgb(32, 213, 236);
    background-color: var(--white);
    border-radius: 50%;
  }
}

.name {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.161px;
  line-height: 1.5rem;
}

.more-btn {
  background-color: transparent;
  padding: 0px 8px;
  margin-top: 8px;
  cursor: pointer;

  & > p {
    color: rgb(255, 59, 92);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.093px;
  }
}
