.wrapper {
  width: 100%;
  background-color: rgb(37, 37, 37);
  margin: 8px 0;
  border-radius: 10px;
  max-height: min((100vh - 96px) - 60px, 760px);
  overflow: hidden auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
  }
}
