.wrapper {
  width: 100%;
  height: var(--default-layout-header-height);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(18, 18, 18, 1);
  box-shadow: var(--shadow);
  z-index: 100;
}

.inner {
  width: 100%;
  height: 100%;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  position: absolute;
  top: 13px;
}

.search {
  width: 500px;
  position: relative;

  & .form-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.2rem 1.6rem;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 92px;
    overflow: hidden;

    &:hover {
      outline: 1px solid rgba(255, 255, 255, 0.4);
    }

    &:hover .btn-search {
      color: var(--white);
      background-color: rgba(255, 255, 255, 0.08);
    }

    & .input-field {
      width: 100%;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.9);
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 0.3px;
      caret-color: rgba(255, 59, 92, 1);
    }

    .input-field:not(:placeholder-shown) ~ .btn-search {
      color: var(--white);
      background-color: rgba(255, 255, 255, 0.08);
    }
    .input-field:not(:placeholder-shown) ~ .box-btn .clear {
      display: block;
    }

    & .separate {
      width: 1px;
      height: 2.8rem;
      margin: -0.3rem 1.6rem;
      background: rgba(255, 255, 255, 0.12);
    }

    & .btn-search {
      padding: 1.1rem 1.6rem 1.1rem 1.2rem;
      margin: -1.2rem -1.6rem;
      background-color: transparent;
      line-height: 2px;
      color: rgba(255, 255, 255, 0.34);
      font-size: 2.2rem;
      cursor: pointer;

      &:active {
        color: rgba(255, 255, 255, 0.34);
        background-color: rgba(255, 255, 255, 0.08);
      }
    }

    .box-btn {
      position: relative;
      color: rgba(255, 255, 255, 0.34);

      .clear,
      .loading {
        position: absolute;
        top: -8px;
        left: -10px;
        cursor: pointer;
        display: none;
      }
    }
  }
}

.search-list {
  width: 500px;

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 16px 5px;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon-setting {
    position: relative;
    margin-left: 16px;
    font-size: 2rem;
    line-height: 10px;
    color: var(--white);
    background-color: transparent;
    cursor: pointer;
  }
  .setting-list {
    min-width: 224px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    margin-top: 4px;
  }
}
